:root{
  --icon-sm: 1rem;
  --clr-light-grey: #EFEFEF;
  --clr-dark-grey: #B6B6B6;
  --clr-primary: #ffc107;
  --h-navbar: 6.875rem;
  --img-xxl: 30rem;
  --img-xl: 24rem;
  --img-lg: 20rem;
}

body {
  overflow-x: hidden;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.h-navbar {
  height: var(--h-navbar);
}

.hero-section {
  position: relative;
  z-index: 2;
}

.h-section {
  min-height: calc(100vh - var(--h-navbar));
}

.hero-section::after {
  content: '';
  position: absolute;
  top: -20vh;
  right: -20vh;
  height: 110vh;
  width: 25rem;
  background-color: #ffc107;
  z-index: -1;
}

.hero-image {
  height: var(--img-xl);
  width: var(--img-xl);
}

.title-section {
  border-left: #ffc107 solid .65rem;
  padding-left: 1rem;
  padding-top: .75rem;
  padding-bottom: .75rem;
}

.section-image {
  --img-gap: 3rem;
  width: var(--img-xxl);
  height: var(--img-xxl);
  margin-top: var(--img-gap);
}

.section-image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-image-filled::before {
  content: '';
  background-color: #ffc107;
  position: absolute;
  top: calc(var(--img-gap) * -1);
  left: -20vh;
  width: var(--img-xxl);
  height: 100%;
  z-index: -1;
  border-radius: inherit;
}

.section-info-title::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 5rem;
  height: 2px;
  background-color: #000000;
}

.form-search {
  position: relative;
  --icon-position: .5rem;
}

.search-bar {
  height: 3rem;
  background-color: var(--clr-light-grey);
  padding-left: calc(var(--icon-position) + var(--icon-sm) + 1rem);
}

.btn-icon {
  position: absolute;
  top: 50%;
  left: var(--icon-position);
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  color: var(--clr-dark-grey);
}

.btn-icon:hover,
.btn-icon:active,
.btn-icon:focus {
  outline: none;
  background-color: transparent;
  color: #99f;
}

.btn-icon:active {
  font-weight: 500;
}

.icon {
  height: var(--icon-sm);
  width: var(--icon-sm);
}

.h-footer-sm {
  height: 8rem;
}

.h-footer-lg {
  height: 15rem;
}